@import "tailwindcss";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/mint";
@source "../../node_modules/@skeletonlabs/skeleton-svelte/dist";

html,
body {}

/* For wiki */
.html-from-markdown {
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.17em;
	}
	h4 {
		font-size: 1em;
	}
	h5 {
		font-size: 0.83em;
	}
	h6 {
		font-size: 0.67em;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply my-2;
	}
	p {
		@apply my-1;
	}

	/* indent for lists */
	ul {
		list-style: disc;
		margin-left: 1rem;
	}
	ol {
		list-style: decimal;
		margin-left: 1rem;
	}
	/* indent for blockquote */
	blockquote {
		margin-left: 1rem;
	}

	table,
	th,
	td {
		border: 1px solid black;
	}
	table {
		margin: 0.5rem;
	}

	/* For internal page links */
	.internal-new {
		background-color: mistyrose;
	}
}

/* For attachments */
.swiki-attachments {
	th:nth-child(3) {
		@apply w-1/6;
	}
}

/* For versions */
.diff {
	ins,
	del {
		display: inline !important;
		padding-left: 0.1rem !important;
		padding-right: 0.1rem !important;
	}
	ins {
		background-color: palegreen !important;
	}
	del {
		background-color: pink !important;
	}
	ins::before,
	del::before {
		content: '' !important;
	}
}
.swiki-versions {
	th:nth-child(1) {
		@apply w-[100px];
	}
	th:nth-child(3) {
		@apply w-[200px];
	}
	th:nth-child(4) {
		@apply w-1/6;
	}
}
