@import "tailwindcss";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/cerberus";
@source "../../node_modules/@skeletonlabs/skeleton-svelte/dist";

/* Write your global styles here, in PostCSS syntax */
html,
body {
	@apply h-full overflow-hidden;
}

/* For wiki */
.html-from-markdown {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply my-2;
	}
	p {
		@apply my-1;
	}

	/* indent for lists */
	ul {
		list-style: disc;
		margin-left: 1rem;
	}
	ol {
		list-style: decimal;
		margin-left: 1rem;
	}
	/* indent for blockquote */
	blockquote {
		margin-left: 1rem;
	}

	table,
	th,
	td {
		border: 1px solid black;
	}
	table {
		margin: 0.5rem;
	}

	/* For internal page links */
	.internal-new {
		background-color: rgb(var(--color-success-100));
	}
}

/* For attachments */
.swiki-attachments {
	th:nth-child(3) {
		@apply w-1/6;
	}
}

/* For versions */
.diff {
	ins,
	del {
		display: inline !important;
		padding-left: 0.1rem !important;
		padding-right: 0.1rem !important;
	}
	ins {
		background-color: rgb(var(--color-success-100)) !important;
	}
	del {
		background-color: rgb(var(--color-error-400)) !important;
	}
	ins::before,
	del::before {
		content: '' !important;
	}
}
.swiki-versions {
	th:nth-child(1) {
		@apply w-[100px];
	}
	th:nth-child(3) {
		@apply w-[200px];
	}
	th:nth-child(4) {
		@apply w-1/6;
	}
}
